<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openbmap"
    android:versionCode="26"
    android:versionName="0.8.17" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:name="org.openbmap.RadiobeaconApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat"
        android:hardwareAccelerated="false"
        >
        <activity
            android:name=".activities.TabHostActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat">
        </activity>
        <activity
            android:name=".activities.StartscreenActivity"
            android:label="@string/app_name"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StatsActivity"
            android:label="@string/activity_stats_activity" >
        </activity>
        <activity
            android:name=".activities.WifiListContainer"
            android:label="@string/activity_wifi_list_container" >
        </activity>
        <activity
            android:name=".activities.WifiDetailsActivity"
            android:label="@string/activity_wifi_details_activity" >
        </activity>
        <activity
            android:name=".activities.CellsListContainer"
            android:label="@string/activity_cells_list_container" >
        </activity>
        <activity
            android:name=".activities.CellDetailsActivity"
            android:label="@string/activity_cell_details" >
        </activity>
        <activity
            android:name=".activities.MapViewActivity"
            android:label="@string/activity_map_view_activity" >
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/activity_settings_activity" >
        </activity>
        <activity
            android:name=".activities.AdvancedSettingsActivity"
            android:label="@string/activity_advanced_settings_activity" >
        </activity>
        <activity
            android:name=".activities.CreditsActivity"
            android:label="@string/activity_credits_activity" >
        </activity>

        <!-- Exported activities, which can be used to automate Radiobeacon-->
        <activity android:name=".commands.StartTracking" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".commands.StopTracking" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity android:name=".commands.UploadAll" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <!-- Master service controlling all other services -->
        <service
            android:name=".services.MasterBrainService" >
            <intent-filter>
                <action android:name=".intent.START_TRACKING" />
                <action android:name=".intent.STOP_TRACKING" />
            </intent-filter>
        </service>

        <!-- GPS receiver service -->
        <service
            android:name=".services.positioning.PositioningService"
            android:exported="false" >
            <intent-filter>
                <action android:name=".intent.GPS_SERVICE" />
            </intent-filter>
        </service>

        <!-- Wireless (cell, wifi) logger service -->
        <service
            android:name=".services.wireless.WirelessLoggerService" >
        </service>

        <!-- GPX logger service -->
        <service
            android:name=".services.positioning.GpxLoggerService" >
        </service>

        <provider
            android:name=".db.ContentProvider"
            android:authorities="org.openbmap.provider"
            android:exported="false" >
        </provider>
    </application>

</manifest>